# Pré processamento dos dados

- [Link dos dados](https://ckan.pbh.gov.br/dataset/ec3efaac-0ca6-4846-9e32-0ffff2d76dbb/resource/4189b28e-7592-474b-8160-e39731315c27/download/20250401_atividade_economica.csv)
- baixar o csv e colocar na pasta `./data`

In [1]:
import pandas as pd

## Filtragem por bares e restaurantes

In [2]:
patterns = ['bar', 'bares', 'restaurante', 'restaurantes']

In [3]:
file_path = 'data/20250401_atividade_economica.csv'  # Replace with the actual file name
df = pd.read_csv(file_path, sep=';')

* TODO: Fix the below filter

In [4]:
filtered_table = df[['CNAE_PRINCIPAL', 'DESCRICAO_CNAE_PRINCIPAL']].drop_duplicates()
filtered_table = filtered_table[filtered_table['DESCRICAO_CNAE_PRINCIPAL'].str.contains('|'.join(patterns), case=False, na=False)]

for value in filtered_table['DESCRICAO_CNAE_PRINCIPAL']:
    print(value)
filtered_table

RESTAURANTES E SIMILARES
REPRESENTANTES COMERCIAIS E AGENTES DO COMÉRCIO DE MÁQUINAS, EQUIPAMENTOS, EMBARCAÇÕES E AERONAVES
COMÉRCIO VAREJISTA DE EMBARCAÇÕES E OUTROS VEÍCULOS RECREATIVOS, PEÇAS E ACESSÓRIOS
BARES E OUTROS ESTABELECIMENTOS ESPECIALIZADOS EM SERVIR BEBIDAS, SEM ENTRETENIMENTO
BARES E OUTROS ESTABELECIMENTOS ESPECIALIZADOS EM SERVIR BEBIDAS, COM ENTRETENIMENTO
FABRICAÇÃO DE ARTEFATOS DE CERÂMICA E BARRO COZIDO PARA USO NA CONSTRUÇÃO, EXCETO AZULEJOS E PISOS
MANUTENÇÃO E REPARAÇÃO DE EMBARCAÇÕES PARA ESPORTE E LAZER
CONSTRUÇÃO DE BARRAGENS E REPRESAS PARA GERAÇÃO DE ENERGIA ELÉTRICA

       CNAE_PRINCIPAL                           DESCRICAO_CNAE_PRINCIPAL
17          5611201.0                           RESTAURANTES E SIMILARES
196         4614100.0  REPRESENTANTES COMERCIAIS E AGENTES DO COMÉRCI...
263         4763605.0  COMÉRCIO VAREJISTA DE EMBARCAÇÕES E OUTROS VEÍ...
679         5611204.0  BARES E OUTROS ESTABELECIMENTOS ESPECIALIZADOS...
3079        5611205.0  BARES E OUTROS ESTABELECIMENTOS ESPECIALIZADOS...
8921        2342702.0  FABRICAÇÃO DE ARTEFATOS DE CERÂMICA E BARRO CO...
17697       3317102.0  MANUTENÇÃO E REPARAÇÃO DE EMBARCAÇÕES PARA ESP...
43866       4221901.0  CONSTRUÇÃO DE BARRAGENS E REPRESAS PARA GERAÇÃ...

In [5]:
CNAES = [5611201, 5611204, 5611205]

In [7]:
filtered_df = df[df['CNAE_PRINCIPAL'].isin(CNAES)].copy()

filtered_df['CNAE_PRINCIPAL'].value_counts()

CNAE_PRINCIPAL
5611201.0    8550
5611204.0    3570
5611205.0    1505
Name: count, dtype: int64

## Formatação do Endereço

In [8]:
filtered_df['ENDERECO_FORMATADO'] = (
  filtered_df['DESC_LOGRADOURO'] + ' ' +
  filtered_df['NOME_LOGRADOURO'] + ', ' +
  filtered_df['NUMERO_IMOVEL'].astype(str) +
  filtered_df['COMPLEMENTO'].apply(lambda x: f", {x}" if pd.notnull(x) else "")
)

filtered_df[['ENDERECO_FORMATADO']].head()

                              ENDERECO_FORMATADO
17   RUA DESEMBARGADOR REIS ALVES, 90, ANDAR: 2,
19                    RUA LUIZ PONGELUPE, 290, C
29                     AVE RESSACA, 118, LOJA 04
172        RUA DESEMBARGADOR RIBEIRO DA LUZ, 135
363         AVE CRISTIANO MACHADO, 1950, LOJA 36

## Tabela Final

In [9]:
filtered_table = filtered_df[['DATA_INICIO_ATIVIDADE', 'IND_POSSUI_ALVARA', 'ENDERECO_FORMATADO', 'NOME_FANTASIA']].drop_duplicates()

filtered_table = filtered_table[filtered_table['NOME_FANTASIA'].notna()]

filtered_table.head()

,DATA_INICIO_ATIVIDADE,IND_POSSUI_ALVARA,ENDERECO_FORMATADO,NOME_FANTASIA
19,15-10-1993,NÃO,"RUA LUIZ PONGELUPE, 290, C",PIZZARIA E CHURRASCARIA VARANDA
29,02-05-1994,NÃO,"AVE RESSACA, 118, LOJA 04",RABBIT BURGER
172,24-11-1993,SIM,"RUA DESEMBARGADOR RIBEIRO DA LUZ, 135",TATU REI DO ANGU A BAHIANA
363,01-10-1993,SIM,"AVE CRISTIANO MACHADO, 1950, LOJA 36",ESPACO DA FEIJOADA
662,16-09-2011,SIM,"RUA DOS OTONI, 222, LETRA: A,",RESTAURANTE NOVO SABOR